<div nz-row nzGutter="4" class="navbar">
  <div nz-col nzXs="2" nzSm="4" [nzMd]="{ span: '6'}" [nzLg]="{ span: '10'}" nzXl="4" >
    <div *ngIf="true"> 
      <nz-button-group>
        <button nz-button [nzGhost]="true" nz-tooltip nzTitle="Hide feeds" nzPlacement="bottomLeft">
          <i nz-icon nzType="menu-fold" nzTheme="outline"></i>
        </button>
        <button nz-button [nzGhost]="true" nz-tooltip nzTitle="Add feed" nzPlacement="bottomCenter" (click)="openDrawer()">
          <nz-drawer
            [nzClosable]="false"
            [nzHeight]="80"
            [nzVisible]="visible"
            nzPlacement="top"
            (nzOnClose)="closeDrawer()"
          >
            <form nz-form [nzLayout]="'inline'" (ngSubmit)="addNewFeed()">
                <nz-form-item>
                    <input type="text" nz-input [(ngModel)]="newFeed" placeholder="Input RSS/Atom-feed link" [nzSize]="small" [ngModelOptions]="{standalone: true}"/>
                </nz-form-item>
                <nz-form-item>
                    <button nz-button [class.input-btn]="true">Add</button>
                </nz-form-item>
            </form>
          </nz-drawer>
          Feeds
          <i nz-icon nzType="plus-circle" nzTheme="outline"></i>
        </button>
        <button nz-button [nzGhost]="true" nz-tooltip nzTitle="Manage feeds" nzPlacement="bottomRight">
          <i nz-icon nzType="setting" nzTheme="outline"></i>
        </button>
      </nz-button-group>
    </div>
    <div *ngIf="false">
      <button nz-button [nzGhost]="true" nz-tooltip nzTitle="Show feeds" nzPlacement="bottomLeft">
        <i nz-icon nzType="notification" nzTheme="outline"></i>
      </button>
    </div>
  </div>
  <div nz-col nzXs="2" nzSm="4" [nzMd]="{ span: '6'}" [nzLg]="{ span: '10'}" nzXl="10" >
    <div *ngIf="true">
      <nz-button-group>
        <button nz-button [nzGhost]="true" nz-tooltip nzTitle="Hide news" nzPlacement="bottomLeft">
          <i nz-icon nzType="menu-fold" nzTheme="outline"></i>
        </button>
        <button nz-button
          [nzGhost]="true"
          nz-tooltip
          nzTitle="Update this feed news"
          nzPlacement="bottomCenter"
          [disabled]="isFetching"
          (click)="updateActiveFeed()"
        >
          News
          <i nz-icon nzType="sync" nzTheme="outline" [nzSpin]="isFetching"></i>
        </button>
        <button nz-button [nzGhost]="true" nz-tooltip nzTitle="Mark all as read" nzPlacement="bottomRight">
          <i nz-icon nzType="check-square" nzTheme="outline"></i>
        </button>
        <button nz-button [nzGhost]="true" nz-tooltip nzTitle="Show only unread" nzPlacement="bottomRight">
          <i nz-icon nzType="eye-invisible" nzTheme="outline"></i>
        </button>
      </nz-button-group>
    </div> 
    <div *ngIf="false">
      <button nz-button [nzGhost]="true" nz-tooltip nzTitle="Show news" nzPlacement="bottomLeft">
        <i nz-icon nzType="global" nzTheme="outline"></i>
      </button>
    </div> 
  </div>
  <div nz-col nzXs="2" nzSm="4" [nzMd]="{span: '6'}" [nzLg]="{ span: '10'}" nzXl="10"  >
    <div *ngIf="true" [class.statistics-buggon-group]="true">
      <nz-button-group>
        <button nz-button [nzGhost]="true" nz-tooltip nzTitle="Toggle statistics details" nzPlacement="bottomLeft">
          <i nz-icon nzType="pie-chart" nzTheme="outline"></i>
          Statistics
        </button>
        <button nz-button [nzGhost]="true" nz-tooltip nzTitle="Hide statistics" nzPlacement="bottomRight">
          <i nz-icon nzType="menu-fold" nzTheme="outline" [class.flip]="true"></i>
        </button>
      </nz-button-group>
    </div>
    <div [class.app-buggon-group]="true">
      <nz-button-group>
        <button *ngIf="false" nz-button [nzGhost]="true" nz-tooltip nzTitle="Show statistics" nzPlacement="bottomLeft">
          <i nz-icon nzType="pie-chart" nzTheme="outline"></i>
        </button>
        <button nz-button [nzGhost]="true" nz-tooltip nzTitle="Layout" nzPlacement="bottomLeft">
          <i nz-icon nzType="layout" nzTheme="outline"></i>
        </button>
        <button nz-button [nzGhost]="true" nz-tooltip nzTitle="Settings" nzPlacement="bottomRight">
          <i nz-icon nzType="setting" nzTheme="outline"></i>
        </button>
        <button nz-button
          [nzGhost]="true"
          nz-tooltip
          nzTitle="Update all feeds"
          nzPlacement="bottomRight"
          [disabled]="isFetching"
          (click)="updateAllFeeds()"
        >
          <i nz-icon nzType="sync" nzTheme="outline" [nzSpin]="isFetching"></i>
        </button>
      </nz-button-group>
    </div>
  </div>
</div>
