/* :host {
  padding: 0 5px;
} */
/* [nz-col] div {
  background: hsl(240, 25%, 87%);
  height: 100%;
} */
/* .navbar {
  font-weight: bold;
}
.navbar, .statictics {
  text-align: center;
  height: 40px;
  line-height: 40px;
} */


/* .main [nz-col] {
  min-height: calc(100vh - 80px);
}
.main [nz-col] div {
  min-height: calc(100vh - 80px);
} */

/* 

nz-header {
  background: #7dbcea;
  color: #fff;
  height: 40px;
  line-height: 40px;
}

nz-sider {
  background: #3ba0e9;
  color: #fff;
}

nz-content {
  background: rgba(16, 142, 233, 1);
  color: #fff;
  min-height: 120px;
  position: relative;
}

nz-footer {
  background: #7dbcea;
  color: #fff;
  height: 40px;
  line-height: 40px;
  padding: 0 50px;
}
*/
