:host {
  text-align: center;
}

nz-header {
  background: #7dbcea;
  color: #fff;
  height: 40px;
  line-height: 40px;
}

/* nz-sider, nz-content {
  height: calc(100vh - 80px);
} */

nz-sider {
  background: #3ba0e9;
  color: #fff;
}

nz-content {
  background: rgba(16, 142, 233, 1);
  color: #fff;
  min-height: 120px;
  /* position: relative; */
}

/* nz-layout {
  margin-bottom: 48px;
}

nz-layout:last-child {
  margin: 0;
} */

nz-footer {
  background: #7dbcea;
  color: #fff;
  height: 40px;
  line-height: 40px;
  padding: 0 50px;
}

.summary {
  width: 100%;
  /* height: 50%; */
  /* position: absolute;
  bottom: 0; */
  background: rgb(33, 133, 204);
}
