/* You can add global styles to this file, and also import other style files */
body {
  background: hsl(0, 0%, 98%);
  overflow-x: hidden;
}
.ant-list-item, .description-container {
  padding: 0 5px;
}
.ant-list-item.active {
  background: hsl(0, 0%, 90%);
}
.ant-list-item:hover {
  cursor: pointer;
  background: hsl(0, 0%, 86%);
}
