<div nz-row nzGutter="4" class="statistics">
  <div nz-col nzXs="2" nzSm="4" [nzMd]="{span: '6'}" [nzLg]="{span: '4'}" nzXl="4" >
    <div>
        total feeds: {{totalFeeds}}
    </div>
  </div>
  <div nz-col nzXs="2" nzSm="4" [nzMd]="{span: '6'}" [nzLg]="{span: '10'}" nzXl="10" >
    <div>
      total news: {{totalNews}}, total authors: {{totalAuthors}}
    </div>
  </div>
  <div nz-col nzXs="2" nzSm="4" [nzMd]="{span: '6'}" [nzLg]="{span: '10'}" nzXl="10">
    <div>
      used letters: {{usedLetters}}, total letters: {{totalLetters}}
    </div>
  </div>
</div>
