<div nz-row nzGutter="4" class="statistics">
  <div nz-col nzXs="2" nzSm="4" [nzMd]="{span: '6'}" [nzLg]="{span: '4'}" nzXl="4" >
    <div>
        total feeds: {{4}}
    </div>
  </div>
  <div nz-col nzXs="2" nzSm="4" [nzMd]="{span: '6'}" [nzLg]="{span: '10'}" nzXl="10" >
    <div>
      total news: {{10}}, total authors: {{10}}
    </div>
  </div>
  <div nz-col nzXs="2" nzSm="4" [nzMd]="{span: '6'}" [nzLg]="{span: '10'}" nzXl="10">
    <div>
      used letters: {{28}}, total letters: {{333}}
    </div>
  </div>
</div>
